@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="container bg-white" style="max-width: 1000px; min-height: 700px;">
    <h6 class="text-center">PHÒNG CHAT</h6>
    <div class="user-chat" style="max-height: 600px;overflow-y: auto;">
        <div class="row mt-2 h-100 align-items-center">
            <div class="col-md-3">
                <div class="account-frame d-flex" style="max-height: 40px;">
                    <img src="~/Images/UserAvatar/3.jpg" width="40" height="40" alt="Avatar" class="avatar me-3">
                    <div class="user-info">
                        <h6 class="mb-0">Akkay</h6>
                        <span class="timestamp">Cách đây 5 phút</span>
                        <i class="fas fa-share"></i>
                    </div>
                    <span class="user-level d-flex align-items-center justify-content-center rounded bg-primary text-white" style="width: 60px; height: 30px;">Cấp 5</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="chat-content" style="max-width: 100%; word-wrap: break-word;">
                    <p>Trên bờ biển xanh biếc, sóng biển tung tăng đánh vào bãi cát trắng mịn. Cảnh sắc thiên nhiên tạo nên một bức tranh tuyệt đẹp, nơi mà sóng biển gặp mặt trời đang lặn. Ánh nắng vàng ấm áp chiếu rọi khắp nơi, khiến mọi thứ lung linh và huyền bí. Con sóng vỗ về bờ mang theo những vật liệu tự nhiên, tạo nên những kiệt tác tự nhiên đáng kinh ngạc. Mùi biển mặn nhẹ kết hợp với hương thơm của cỏ biển, tạo nên một không gian thơ mộng và thư giãn.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nhập tin nhắn">
        <button class="btn btn-primary" type="button">Gửi</button>
    </div>
</div>
<footer class="bg-dark text-light" style="position: absolute; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a itemprop="url" href="/">
                    <img itemprop="logo" src="~/Icon/BeeChat.svg" alt="BeeBook">
                </a>
                <p>
                    Copyright © 2023 NetChuyen
                </p>
            </div>
        </div>
    </div>
</footer>