@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h2 class="text-center">PHÒNG CHAT</h2>
<div class="container">
    <div class="row h-100 align-items-center">
        <!-- Thông tin người dùng nằm ở bên trái -->
        <div class="col-md-4">
            <div class="account-frame d-flex" style="max-height: 40px;">
                <img src="~/Images/Users/1385117.jpg" width="40" height="40" alt="Avatar" class="avatar me-3">
                <div class="user-info">
                    <h6 class="mb-0">Akkay</h6>
                    <span class="timestamp">Cách đây bao lâu</span>
                    <i class="fas fa-share"></i>
                </div>
                <span class="user-level d-flex align-items-center justify-content-center rounded bg-primary text-white" style="width: 60px; height: 30px;">Cấp 5</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chat-content" style="max-width: 100%; word-wrap: break-word;">
                <p>huhu</p>
            </div>
        </div>
    </div>
</div>